body {

    background-color: rgba(48, 191, 60, 0.359);
}
.container{
   
    background-color: rgb(255, 255, 255);
    
    width: 40%;
    height: fit-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h1{
    text-align: center;
}
.buttons{
    text-align: center;
}
/*  clear button  */
.button{
    margin-left: 115px;
}
.slideContainer{

    position: relative;
    left: 340px;
    color: #f10b0b;
    color: #f58d0e;
    color: #ebe410;
    color: #00ff00;
    color: #00fffb;
    color: #2158ce;
    color: #6d21ef;
    color: #c37ab4;
}

